<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Detaillé </title>
    <span th:replace="~{page_home :: bootstrapImports}"></span>
</head>
<body>
    <main>
        <h1><span th:text="${monpost.title}"></span></h1>
        <p>Nom : <span th:text="${monpost.content}"></span></p>
        <a class="btn btn-outline-dark" th:href="@{/posts}">Retour a la liste des posts</a>
        <a class="btn btn-warning" th:href="@{/edit/{id}(id=${monpost.getId()})}">Editer le post</a>
        <a class="btn btn-danger" th:href="@{/delete/{id}(id=${monpost.getId()})}">Supprimer le post</a>

        <div class="border bg-info rounded overflow-hidden" th:each="d:${monpost.getComments()}">
            <p>De <b><span th:text="${d.name}"></span></b></p>
            <p>mail : <b><span th:text="${d.email}"></span></b></p>
            <p><b><span th:text="${d.content}"></span></b></p>
        </div>
    </main>

</body>
</html>